<div class="label-tile-container">
	<div class="label-tile">
		<% _.each(locations, function(loc) { %>
			<div class='location ${loc.classnames}' id="${loc.id}" style='top: ${loc.offsety}px; left: ${loc.offsetx}px'>
				<div class='icon' style=''></div>
				<div class='bd'>
					<div class='txt'>
						${loc.name}
					</div>
				</div>
			</div>
		<% }); %>
	</div>
</div>