<div class="label-tile">
	<% _.each(locations, function(loc) { %>
		<div class='location' style='top: 0; left: 0;'>
			<div class='icon' style=''></div>
			<div class='bd'>
				<div class='txt'>
					${name} <span class='more'>more &gt;</span>
				</div>
			</div>
		</div>
	<% }); %>
</div>