<div id="container-searchbox">
	<form role="search">
		<div class="panel panel-search shadow">
			<div class="form-group">
				<label for="searchbox" class="sr-only label-primary"><%= model.primarylabel %></label>
				<input id="searchbox" type="text" value="<%= model.primarylabel %>" class="form-control" autocomplete="off" />
			</div>
			<button class="btn btn-default search" type="submit">
				<span class="search"></span>
				<span class="sr-only">Search</span> 
			</button>
		</div>
	</form>
	<div id="container-panels"></div>
</div>