
/* ==========================================================================
   Base
   ========================================================================== */


img {

	display: block;
	
}

ul {
	margin: 0;
	padding: 0;
}

input[type="text"]:disabled {

	background-color:#fff;

	color: #333;

	opacity: 1;

}

a {

	text-decoration: none;

	color: #333;

	&:hover {
		
		text-decoration: underline;

	}

}

@mixin shadow() {
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,.2);
	  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,.2);
	    box-shadow: 2px 2px 2px 0px rgba(0,0,0,.2);
}

@mixin noshadow() {
	-webkit-box-shadow: none;
	  -moz-box-shadow: none;
	    box-shadow: none;
}

@mixin animate($seconds) {

	-webkit-transition: all $seconds linear;
		-moz-transition: all $seconds linear;
			-o-transition: all $seconds linear;
				-ms-transform: all $seconds linear;
					transition: all $seconds linear;
}

@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees); 
		-moz-transform: rotate($degrees); 
			-o-transform: rotate($degrees); 
				-ms-transform: rotate($degrees); 
					transform: rotate($degrees);
}

@mixin borderbox() {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin panelfade() {

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 35%, rgba(248,248,248,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,rgba(255,255,255,1)), color-stop(100%,rgba(248,248,248,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 35%,rgba(248,248,248,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 35%,rgba(248,248,248,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 35%,rgba(248,248,248,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 35%,rgba(248,248,248,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */


}


