
/* ==========================================================================
   Base
   ========================================================================== */


img {

	display: block;
	
}

input[type="text"]:disabled {

	background-color:#fff;

	color: #333;

}

@mixin shadow() {
	-webkit-box-shadow: 2px 2px 2px 0px #aaa;
	  -moz-box-shadow: 2px 2px 2px 0px #aaa;
	    box-shadow: 2px 2px 2px 0px #aaa;
}

@mixin noshadow() {
	-webkit-box-shadow: none;
	  -moz-box-shadow: none;
	    box-shadow: none;
}

@mixin animate($seconds) {

	-webkit-transition: all $seconds linear;
		-moz-transition: all $seconds linear;
			-o-transition: all $seconds linear;
				-ms-transform: all $seconds linear;
					transition: all $seconds linear;
}

@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees); 
		-moz-transform: rotate($degrees); 
			-o-transform: rotate($degrees); 
				-ms-transform: rotate($degrees); 
					transform: rotate($degrees);
}

@mixin borderbox() {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
}

