
/* ==========================================================================
   Buttons
   ========================================================================== */

button {
	
	color: #333;

	height: 22px;

	/* line-height: 22px; screws with ff windows*/

	margin-left: 4px;

	font-size: 11px;

	&:first-child {

		margin-left: 0;

	}

	label {
		padding: 0 6px;
	}

	&.btn-close {
		
		position: absolute;

		right: 12px;

		bottom: 8px;
		
		height: 17px;

		line-height: 17px;

		font-size: 11px;

		background: none;

		border: none;

		color: #999;

		letter-spacing: .06em;

		 -webkit-transition: all .1s ease-out;
		  -moz-transition: all .1s ease-out;
		    -o-transition: all .1s ease-out;
		       transition: all .1s ease-out;

		&:hover {

			color: #fff;

			background: #565152;

		}

	}

}

.btn-nav {
    background: #565152;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    height: 40px;
    width: 36px;
    &:hover {
		.menu-line {
			background: #ccc;
		}
	}
	.menu-line {
		&:first-child {
			margin-top: 4px;
		}
	    background: #eee;
	    border-radius: 50px;
	    display: block;
	    height: 4px;
	    margin: 0 auto 4px;
	    width: 20px;

	}
	&.btn-search {
		background: #565152 url('../../app/images/icons/search.png') no-repeat center center;
		background-size: 22px 22px;
		&:hover {
			background-image: url('../../app/images/icons/searchxccc.png');
		}
	}
}

.btn-backto {
	border: none;
	background: none;
	color: #999;
	font-size: 13px;
	&:hover {
		text-decoration: underline;
		.divider {
			text-decoration: none !important;
		}
	}
}
.btn-lite {
	background: #3172AE;
	color: #fff;
	border-radius: 4px;
	letter-spacing: .04em;
}

.btn-directions {
	
	margin-bottom: 9px;
	
}

.btn-large {
	

}