/* ==========================================================================
   Forms
   ========================================================================== */

.input-sharelink {
	padding: 6px;
	font-size: 14px;
	color: #565152;
}

input {
	
	&.full {
		width: 100%;
	}
	&.full-90 {
		width: 90%;
	}
}