/* ==========================================================================
   Layout
   ========================================================================== */

html, body, #app, #campusmap, #map-canvas { 

	height: 100%;

}

body {

	background: #f8f8f8;
	overflow: hidden;
	height: 100%;
	margin: 0;
	padding: 0;

}