@import "./partials/base";

/* ==========================================================================
   Layout
   ========================================================================== */

html, body, #app, #campusmap, #map-canvas { 

	height: 100%;

}

body {

	background: #f8f8f8;
	overflow: hidden;
	height: 100%;
	margin: 0;
	padding: 0;

}

#app {
	
	position: relative;

	#container-searchbox {

		position: absolute;
		overflow: hidden; /* hidden : so the shadows aren't cut off */
		z-index: 999;
		top: 12px;
		left: 12px;
		padding: 0 6px 6px; /* Give shadow room instead of getting cut off by overflow hidden */
		width: 48%;
		min-width: 320px;
		max-width: 420px;
		
		& > form {
			
			position: relative;
			z-index: 999;

		    .panel {
		      
				.form-group {

					#searchbox {

						border: 1px #ddd none;
						padding: 0;
						margin: 0;
						width: 100%;
						/*max-width: 406px;*/

						@include borderbox();
						@include shadow();

					}

				}

				.btn {

					&.search {

						width: 24px;
						height: 20px;
						position: absolute;
						z-index: 999;
						right: 0;
						top: 0;
						background: transparent;
						background-image: url("../../app/images/icons/search@2x.png");
						background-repeat: no-repeat;
						background-size: 20px 20px;
						background-position: center;
						border: medium none;

					}

				}

		    }

		}

	}

	#container-searchbox, #container-panels { /* Hide panels that slide under searchox */
		
		overflow: hidden;

	}

}