
/* ==========================================================================
   Transitions
   ========================================================================== */

$showDuration: .4s;
$hideDuration: $showDuration;

@keyframes slideOut {
    0% {

      -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0) scale(1,1) rotateX(0deg);

    }

    100% {

      -webkit-transform: translateY(-240%);
       -moz-transform: translateY(-240%);
        -ms-transform: translateY(-240%);
         -o-transform: translateY(-240%);
            transform: translateY(-240%) scale(1,1) rotateX(0deg);

    }
}

@keyframes slideIn {

    0% {

      -webkit-transform: translateY(-240%);
       -moz-transform: translateY(-240%);
        -ms-transform: translateY(-240%);
         -o-transform: translateY(-240%);
            transform: translateY(-240%) scale(1,1) rotateX(0deg);
    }

    100% {

      -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0) scale(1,1) rotateX(0deg);

    }
}

@-webkit-keyframes slideOut /* Safari and Chrome */
{
    0% {
      
      -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0) scale(1,1) rotateX(0deg);
    }

    100% {

      -webkit-transform: translateY(-240%);
       -moz-transform: translateY(-240%);
        -ms-transform: translateY(-240%);
         -o-transform: translateY(-240%);
            transform: translateY(-240%) scale(1,.8) rotateX(70deg);

    }
}



@-webkit-keyframes slideIn /* Safari and Chrome */
{
    0% {

      -webkit-transform: translateY(-240%);
       -moz-transform: translateY(-240%);
        -ms-transform: translateY(-240%);
         -o-transform: translateY(-240%);
            transform: translateY(-240%) scale(1,.8) rotateX(70deg);
    }
    100% {

      -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0) scale(1,1) rotateX(0deg);

    }
}




@keyframes fadeIn {

    0% {
      
      opacity: 0;

    }
    100% {

      opacity: 1;

    }
}

@keyframes fadeOut {

    0% {
      
      opacity: 1;

    }

    100% {

 
      opacity: 0;

    }
}

@-webkit-keyframes fadeIn {

    0% {
      
      opacity: 0;

    }
    100% {

      opacity: 1;

    }
}

@-webkit-keyframes fadeOut {

    0% {

      opacity: 1;

    }

    100% {

      opacity: 0;

    }
}

#container-panels {

  .panel {
    
    &.show {

      -webkit-animation: slideIn $showDuration;
      animation: slideIn $showDuration;
  
      animation-timing-function: cubic-bezier(0.530, 0.005, 0.640, 0.400);
      -webkit-animation-timing-function: cubic-bezier(0.530, 0.005, 0.640, 0.400); /* Safari and Chrome 0.95s */

      &:nth-child(1) {

        animation-timing-function: linear;
        -webkit-animation-timing-function: linear; /* Safari and Chrome 0.95s */

      }

      &:nth-child(2) {}

      &:nth-child(3) {}      

    }

    &.hide {

      -webkit-animation: slideOut $hideDuration;
      animation: slideOut $hideDuration;

      animation-timing-function: linear;
      -webkit-animation-timing-function: linear; /* Safari and Chrome 0.95s */
  
      &:nth-child(1) {
        
        animation-timing-function: cubic-bezier(0.530, 0.005, 0.640, 0.400);
        -webkit-animation-timing-function: cubic-bezier(0.530, 0.005, 0.640, 0.400); /* Safari and Chrome 0.95s */

      }

      &:nth-child(2) {}

      &:nth-child(3) {}      

    }
  }
}

 