
/* ==========================================================================
   Transitions
   ========================================================================== */


@keyframes slideOut {
    0% {

      -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0) scale(1,1) rotateX(0deg);

    }

    100% {

      -webkit-transform: translateY(-140%);
       -moz-transform: translateY(-140%);
        -ms-transform: translateY(-140%);
         -o-transform: translateY(-140%);
            transform: translateY(-140%) scale(1,1) rotateX(0deg);

    }
}

@keyframes slideIn {

    0% {

      -webkit-transform: translateY(-140%);
       -moz-transform: translateY(-140%);
        -ms-transform: translateY(-140%);
         -o-transform: translateY(-140%);
            transform: translateY(-140%) scale(1,1) rotateX(0deg);
    }

    100% {

      -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0) scale(1,1) rotateX(0deg);

    }
}

@-webkit-keyframes slideOut /* Safari and Chrome */
{
    0% {
      
      -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0) scale(1,1) rotateX(0deg);
    }

    100% {

      -webkit-transform: translateY(-140%);
       -moz-transform: translateY(-140%);
        -ms-transform: translateY(-140%);
         -o-transform: translateY(-140%);
            transform: translateY(-140%) scale(1,.8) rotateX(70deg);

    }
}



@-webkit-keyframes slideIn /* Safari and Chrome */
{
    0% {

      -webkit-transform: translateY(-140%);
       -moz-transform: translateY(-140%);
        -ms-transform: translateY(-140%);
         -o-transform: translateY(-140%);
            transform: translateY(-140%) scale(1,.8) rotateX(70deg);
    }
    100% {

      -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0) scale(1,1) rotateX(0deg);

    }
}




@keyframes fadeIn {

    0% {
      
      opacity: 0;

    }
    100% {

      opacity: 1;

    }
}

@keyframes fadeOut {

    0% {
      
      opacity: 1;

    }

    100% {

 
      opacity: 0;

    }
}

@-webkit-keyframes fadeIn {

    0% {
      
      opacity: 0;

    }
    100% {

      opacity: 1;

    }
}

@-webkit-keyframes fadeOut {

    0% {

      opacity: 1;

    }

    100% {

      opacity: 0;

    }
}

#container-panels {

  .panel {
    
    &.show {

      &:nth-child(1) {
        
            -webkit-animation: slideIn .4s;
            animation: slideIn .4s;
        
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear; /* Safari and Chrome 0.95s */

      }

      &:nth-child(2) {
        
            -webkit-animation: slideIn .4s;
            animation: slideIn .4s;

            animation-timing-function: cubic-bezier(0.530, 0.005, 0.640, 0.400);
            -webkit-animation-timing-function: cubic-bezier(0.530, 0.005, 0.640, 0.400); /* Safari and Chrome 0.95s */


      }

      &:nth-child(3) {

            -webkit-animation: slideIn .4s;
            animation: slideIn .4s;
 

            animation-timing-function: cubic-bezier(0.530, 0.005, 0.640, 0.400);
            -webkit-animation-timing-function: cubic-bezier(0.530, 0.005, 0.640, 0.400); /* Safari and Chrome 0.95s */

      }      
    }

    &.hide {

      &:nth-child(1) {
        
            -webkit-animation: slideOut .4s;
            animation: slideOut .4s;
        
            animation-timing-function: cubic-bezier(0.530, 0.005, 0.640, 0.400);
            -webkit-animation-timing-function: cubic-bezier(0.530, 0.005, 0.640, 0.400); /* Safari and Chrome 0.95s */


      }

      &:nth-child(2) {
        
            -webkit-animation: slideOut .4s;
            animation: slideOut .4s;

            animation-timing-function: linear;
            -webkit-animation-timing-function: linear; /* Safari and Chrome 0.95s */


      }

      &:nth-child(3) {

            -webkit-animation: slideOut .4s;
            animation: slideOut .4s;
 

            animation-timing-function: linear;
            -webkit-animation-timing-function: linear; /* Safari and Chrome 0.95s */

      }      
    }
  }
}

 