/* ==========================================================================
   Typography
   ========================================================================== */
body {
	font-family: Arial,sans-serif;
}

.muted {

	color: #999

}

.heavy {
    color: #565152;
    display: inline-block;
    letter-spacing: 0.03em;
    margin-bottom: 4px;
}

