/* ==========================================================================
   Typography
   ========================================================================== */
body {
	/*font-family: Arial,sans-serif;*/
}

.muted {

	color: #666;

}

.heavy {
    color: #565152;
    display: inline-block;
    margin-bottom: 9px;
    font-size: 12px !important;
    /*letter-spacing: 0.06em;*/
    line-height: 18px;
    font-weight: 700;
}

.small {

	font-size: 11px;
	
}

