@import "./partials/base";

/* ==========================================================================
   Map Module
   ========================================================================== */

#map-canvas {

	color: #333;

	/**** Label Tile ****/

	.label-tile {

		position: relative;

		width: 256px;

		height: 256px;

		border: 1px #ccc none;

		.location {

			position: absolute;

			width: auto;

			background: rgba(0, 0, 0, 0);

			color: #333;

			margin: -8px 0 0 -8px; 

			z-index: 998;

			.bd {

				position: relative;

				top: 0;

				left: 0;

				z-index: 998;

				display: block;

				padding: 0 4px 0 16px; /* Adjust for icon's 16px width */

				/* Text Area */

				.txt {

			        position: relative;

			        display: block;

			        width: auto;

			        /*min-width: 80px;*/

			        top: -3px;

			        left: 4px; /* Put a little space between icon and txt label*/

			        background: transparent;

			        white-space: nowrap;

			        line-height: 16px;

			        border-style: solid;

			        border-color: transparent;

			        border-width: 0px;

			        border-radius: 1px;

			        vertical-align: top;

			        padding: 2px 3px; /*0 2px 0 0;*/

			        letter-spacing: .05em;

			        font-size: 14px;

			        

				}

			}

		    /* Icons */

		    .icon {

		      position: relative; /* For z-index */

		      display: block;

		      float: left;

		      z-index: 999;

		      top: 1px;

		      left: 1px;

		      width: 5px;

		      height: 5px;

		      opacity: .8;

		      border-radius: 12px;

		      border: 4px #9b7458 solid;

		      line-height: 16px;

		      background-size: 16px 16px;

		      background-color: #9b7458;
/*
		      background-image: url("../../app/images/icons/map/circle@2x.png");  marker-icon-2x.png circle@2x.png circle_outline_center.png */

		      background-repeat: no-repeat;

		      vertical-align: text-top;

		      @include shadow();

		    }

			&.closeby {

				.icon {
/*
					background-color: #6699cc;
*/
				}

			}
/*
			&.emphasis1, &.emphasis2, &.emphasis3, &.emphasis4 {

				.bd {

					display: none;

				}

			}

			&.emphasis1, &.emphasis2, &.emphasis3 {

				.icon {

					display: none;

				}

			}
*/
			&.emphasis5 {

				.icon {

					border: 5px #9b7458 solid;

				}

				.bd {

					.txt {

						/*font-size: 19px;*/

					}

				}

			}

			&.details {

				.icon {

					display: block !important;
					
					background-color: #fff !important;

					border-color: #3172AE !important;

				}

				.bd {

					display: block !important;

					.txt {

						color: #3172AE !important;

						background: #fff !important;

						@include shadow();

					}

				}

			}

			&.hover {

				color: #000 !important;

				z-index: 9999 !important;

				.icon {

					background-color: #fff !important;

				}

				.bd {

					display: block !important;

					.txt {

						background: #fff;

						@include shadow();

					}

				}

			}

		}

	}

}

.zoomed-out { /* below level 15 */
	
	.label-tile {

		display: none !important;

	}

}

.zoom-16 {
	
	.emphasis1, .emphasis2, .emphasis3, .emphasis4 {

		.bd {

			display: none !important;

		}

	}

	.emphasis1, .emphasis2, .emphasis3 {

		.icon {

			display: none !important;

		}

	}

}

.zoom-17 {
	
	.emphasis1, .emphasis2, .emphasis3, .emphasis4 {

		.bd {

			display: none !important;

		}

	}

	.emphasis1, .emphasis2, .emphasis3 {

		.icon {

			display: none !important;

		}

	}

}

.zoomed-in { /* above level 17 */
	
	.label-tile {

		display: block !important;

	}

	.icon {

		display: block !important;

	}

}

.zoom-15 {
	
	.emphasis1, .emphasis2, .emphasis3, .emphasis4 {

		display: none !important;

	}

	.icon {

		border: 1px #9b7458 solid !important;

	}

	.bd {

		display: none !important;

	}

}
