/* ==========================================================================
   Map Module
   ========================================================================== */

#map-canvas {

	color: #333;

	/**** Label Tile ****/
	.label-tile {

		position: relative;

		width: 256px;

		height: 256px;

		border: 1px #ccc solid;

	}

}

