@import "./partials/base";

/* ==========================================================================
   Panel Module
   ========================================================================== */

$gutter: 8px;

#container-panels {

	.panel {

		position: relative; /* for zindex */

		display: none;
		overflow: hidden;
		margin: 6px 0;

		background: url("/app/images/bg/paper.png") #f8f8f8;
		font-size: 12px;

		@include shadow();

		
		
		&[style*="display: block"] {
			
			background: #f8f8f8;

			z-index: 9991;

			@include panelfade-muted();
			
			&:first-child {
				
				z-index: 9999;

				margin-top: 0;

				@include panelfade();

			}		
		}

		.navbar {
			background: #565152;
			padding: 0;
			line-height: 26px;
			letter-spacing: .06em;
			ul {
				list-style: none;
				li {
					list-style: none;
					display: inline-block;
					padding: 0;
					
					button {
						border: none;
						background: none;
						width: 100%;
						padding: 0 12px;
						line-height: 26px;
						color: #fff;
						&:hover {
							text-decoration: underline;
						}
					}
					&.active {
						background: #E5E5CC;
						button {
							color: #333;
						}
						
					}
				}
			}
		}

		.panel-bd {

			position: relative;

			width: 100%;

			min-width: 450px;

			height: 150px;

			display: table-cell;

			vertical-align: top;

			padding: 16px 12px $gutter;

			@include borderbox();

			.bd {
				
				height: 100%;

				.more-info {

					margin-top: 1.0em;

					p {
						color: #999;
						margin-bottom: 5px;
					}

					a {
						color: #666;
					}

				}

				p {

					margin: 0 0 6px;

					&.addr {

						color: #565152;

						font-size: 16px;

						letter-spacing: .06em;

					}

				}

				
				

			}

			.btns {

				position: absolute;

				bottom: 9px;

				left: 12px;

				line-height: 22px;

			}

			&.full {
				
				max-width: 100%;

			}

			&.panel-secondary {
				
				height: auto;

				padding-top: 22px;

				padding-right: 64px;
				
				.subhead {
					
					position: absolute;

					top: 7px;

					right: 12px;

					color: #565152;

					font-size: 11px;

					letter-spacing: .06em;
				}

				h3 {

					margin: 0 0 10px;

					color: #565152;

					font-weight: 400;

					letter-spacing: .06em;

				}

				.accessibility {

					font-size: 12px !important;

					line-height: 18px;

					letter-spacing: .06em;

					li {

						&:first-child {

							margin-bottom: 6px;

						}
					}

					img { 

						display: inline;

						width: 20px;

						height: auto;

						vertical-align: bottom;

						margin-right: 2px;

					}

				}

				p {

					line-height: 18px;

				}

				.footer {
					
					margin: 14px 0 2px;

					color: #999;

					a {
						color: #6699cc;
					}

					button {
						


					}

					&.no-content {
						
						margin-top: 9px;

					}

				}

			}

		}

		aside {

			display: block;

			position: absolute;

			top: 0;

			right: 0;

			vertical-align: top;

			min-width: 150px;

			.thumb {
				
				width: auto;

				max-width: 150px;

				max-height: 150px;

				height: 100%;

			}

			&.no-thumb {
				
				display: none;

			}
		}
		

		.panels-contents {
			
			position: relative;

			min-height: 150px;

			.panel-content {
				
				position: absolute;

				top: 0;

				left: 0;

				min-height: 150px;

				/* @include panelfade();keep or change to gradient of gray? */
				

				 -webkit-transition: -webkit-transform .5s ease-out;
				  -moz-transition: transform .5s ease-out;
				    -o-transition: transform .5s ease-out;
				       transition: transform .5s ease-out;
			}
		}

		&#sharelink {
			
			.panel-bd {

				padding-right: 12px;

			}

		}
		/* States */

		.panel-details { z-index: 9999; @include panelfade(); }

		.panel-depts-offices { 

				z-index: 999; 

				@include panelfade();

				.panel-bd {
					&.full {
						&.single {
							h4 {
								margin-bottom: 12px;
							}
							ul {
								li {
									margin-bottom: 6px;
								}
							}
						}
					}
				}

			} /* Needs to be hidden by others when going from 1 to 3rd panel */

		.panel-imagery { z-index: 9999; @include panelfade(); }

	}
}
