@import "./partials/base";

/* ==========================================================================
   Panel Module
   ========================================================================== */

#container-panels {
	
	.panel {

		display: none;
		overflow: hidden;

		background: #fff;
		margin: 6px 0;
		padding: 20px;

		@include shadow();

	}
}
