<div class="panel-bd bare">
	<div class="bd spacing">
		<ul class="menu-accessibility">

			<li class="item-menu accessible-full"><button data-campusmap='panels:results|filter:tag_exact|query:accessible-full|primarylabel:Fully Accessible|searchboxdisable:true|forceclosepanels:true|mode:accessibility'>Fully Accessible</button></li>

			<li class="item-menu accessible-assistance"><button data-campusmap='panels:results|filter:tag_exact|query:accessible-assistance|primarylabel:Accessible with Assistance|searchboxdisable:true|forceclosepanels:true|mode:accessibility'>Accessible with Assistance</button></li>

			<% if (model.campus.campusid === 'medford') { %>
			<li class="item-menu accessible-restroom"><button data-campusmap='panels:results|filter:tag_exact|query:accessible-restroom|primarylabel:Accessible Restrooms|searchboxdisable:true|forceclosepanels:true|mode:accessibility'>Accessible Restrooms</button></li>
			<% } %>
		</ul>
	</div>
</div>
<div class='footer'><button class="btn-close" data-campusmap='panels:|details:'>close</button></div>