<div class="panel-bd bare">
	<div class="bd spacing">
		<ul class="menu-accessibility">

			<li class="item-menu accessible-full"><button data-campusmap='panels:results,back-to-accessibility|filter:tags|query:accessible-full|primarylabel:Fully Accessible|searchboxdisable:true|forceclosepanels:true|mode:accessibility'>Fully Accessible</button></li>

			<li class="item-menu accessible-assistance"><button data-campusmap='panels:results,back-to-accessibility|filter:tags|query:accessible-assistance|primarylabel:Accessible with Assistance|searchboxdisable:true|forceclosepanels:true|mode:accessibility'>Accessible with Assistance</button></li>

			<li class="item-menu accessible-restroom"><button data-campusmap='panels:results,back-to-accessibility|filter:tags|query:accessible-restroom|primarylabel:Accessible Restrooms|searchboxdisable:true|forceclosepanels:true|mode:accessibility'>Accessible Restrooms</button></li>

		</ul>
		<div class='footer'><button class="btn-close" data-campusmap='panels:|details:'>close</button></div>
	</div>
</div>