<div class="panel-bd panel-secondary">
	<div class="bd spacing">
		<p>Click on the map to add a new location.</p>
		<p><strong>${model.locationsaddedcount}</strong> locations added.</p>
		<button class="btn-save">I'm done, save them.</button>
	</div>
</div>