<div class="panel-bd panel-secondary">
	<div class="bd spacing">
		<div class='footer'>
			<button class="btn-close" data-campusmap='panels:accessibility'>back to the Accessibility Menu</button>
		</div>
	</div>
</div>