<div class="panel-bd panel-secondary">
	<div class="bd spacing">
		<div class='footer'>
			<button class="btn-close" data-campusmap='panels:commencement'>back to the Commencement Menu</button>
		</div>
	</div>
</div>