<div class="panel-bd bare">
	<div class="bd spacing">
		<ul class="menu-commencement">
			<li class="item-menu ceremony-locations"><button data-campusmap='panels:results|filter:tag_exact|query:graduation-ceremony|primarylabel:Ceremony Locations|searchboxdisable:true|forceclosepanels:true|mode:commencement'>Graduation Ceremony Locations</button></li>

			<li class="item-menu shuttle"><button data-campusmap='panels:results|filter:tag_exact|query:shuttle|primarylabel:Shuttle Stops|searchboxdisable:true|forceclosepanels:true|mode:commencement'>Shuttle Stops</button></li>

			<li class="item-menu web-viewing-areas"><button data-campusmap='panels:results|filter:tag_exact|query:food-service|primarylabel:Commencement|searchboxdisable:true|forceclosepanels:true|mode:commencement'>Web Viewing Areas</button></li>

			<li class="item-menu info-booths"><button data-campusmap='panels:results|filter:tag_exact|query:food-service|primarylabel:Commencement|searchboxdisable:true|forceclosepanels:true|mode:commencement'>Information Booths</button></li>

			<li class="item-menu disabled-dropoff"><button data-campusmap='panels:results|filter:tag_exact|query:food-service|primarylabel:Commencement|searchboxdisable:true|forceclosepanels:true|mode:commencement'>Handicapped Drop-off</button></li>

			<li class="item-menu restrooms"><button data-campusmap='panels:results|filter:tag_exact|query:food-service|primarylabel:Commencement|searchboxdisable:true|forceclosepanels:true|mode:commencement'>Restrooms</button></li>

			<li class="item-menu disabled-restrooms"><button data-campusmap='panels:results|filter:tag_exact|query:food-service|primarylabel:Commencement|searchboxdisable:true|forceclosepanels:true|mode:commencement'>Restrooms for the Disabled</button></li>

			<li class="item-menu food-service"><button data-campusmap='panels:results|filter:tag_exact|query:food-service|primarylabel:Commencement|searchboxdisable:true|forceclosepanels:true|mode:commencement'>Food Service</button></li>

		</ul>
		<div class='footer'><button class="btn-close" data-campusmap='panels:|details:'>close</button></div>
	</div>
</div>