<div class="panel-bd panel-secondary">
	<div class="bd spacing">
		<h3 class="sr-only">Commencement Phase II</h3>
		<p><a target="_blank" href="http://commencement.tufts.edu/phase-ii/">More Phase II Information</a> (Commencement website)</p>
	</div>
</div>