<div class="panel-bd panel-secondary">
	<div class="bd spacing">
		<h3 class="subhead">Live Phase II Information</h3>
		<ul class="list">
			<li><a class="link external" target="_blank" href="http://m.tufts.edu/transit/route?id=doublemap__12&_b=[{%22t%22%3A%22Tufts+Shuttles%22%2C%22lt%22%3A%22Tufts+Shuttles%22%2C%22p%22%3A%22index%22%2C%22a%22%3A%22%22}">Live Commencement Shuttle Tracker</a></li>
			<li><a class="link external" target="_blank" href="http://commencement.tufts.edu/wp-content/uploads/Shuttle-map2014.pdf">Campus Shuttle Map</a></li>
			<li><a class="link external" target="_blank" href="http://commencement.tufts.edu/phase-ii/">More Phase II Information</a></li>
		</ul>
		<div class='footer'><button class="btn-close" data-campusmap='panels:commencement|details:'>close</button></div>
	</div>
</div>