<div class="panel-bd">
	<div class="navbar" style="display:none;">
		Select a PDF.
	</div>
	<div class="bd spacing">
		<!--<h3>panel 3</h3>-->
		<p>Details Panel (${model.id}): Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
	</div>
</div>