<div class="navbar">

	This is where the navbar is.

</div>

<div class="panel-bd <% if (!model.location.thumbnail) { %>full<% } %>">

	<div class="bd spacing ">

		<% if (model.location.address1) { %>
			<p>${model.location.address1}</p>
		<% } %>

		<p>Medford, MA 02155</p>

		<p><a href="#">Contact Info</a></p>

		<div class="btns">
			<button data-campusmap='panels:details,panel1'>Accessibility</button> 
			<button data-campusmap='panels:details,panel2'>Directions</button> 
			<button data-campusmap='panels:details,panel3'>Share a Link</button>
		</div>


	</div>
	
</div>

<aside class="<% if (!model.location.thumbnail) { %>no-thumb<% } %>">
	<% if (model.location.thumbnail) { %>
		<img class="thumb" src="./app/images/thumbs/${model.location.thumbnail}" />
	<% } %>
</aside>