<div class="navbar">
	<ul>
		<% _.each(model.navbar, function(navitem) { %>
			<li id="${navitem.id}" class="navitem ${navitem.classes}"><button data-campusmap="detailsnavbarstate:${navitem.id}|panels:details">${navitem.label}</button></li>
		<% }); %>
		<li class="admin-edit"><button data-campusmap="panels:admin-location">(edit)</button></li>
	</ul>
</div>
<div class="panels-contents">
	<div class="panel-content panel-details">
		<div class="panel-bd <% if (!model.location.thumbnail) { %>full<% } %>">
			<div class="bd spacing ">
				<% if (!model.location.addressalt) { %>
					<% if (model.location.address1) { %>
						<p class="addr">${model.location.address1}</p>
					<% } %>
					<% if (model.location.address2) { %>
						<p class="addr addr2">${model.location.address2}</p>
					<% } %>
					<p class="addr">Medford, MA 02155</p>
					<div class="more-info"><p>
						<% if (model.location.phone) { %>
							<label class="sr-only">Phone</label><a href="tel:${model.location.phone}">${model.location.phone}</a>
						<% } %>
						<% if (model.location.website && model.location.phone) { %> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <% } %>
						<% if (model.location.website) { %>
							<a target="_blank" href="http://${model.location.website}">Visit the website &gt;</a>
						<% } %></p>
					</div>
				<% } else { %>
					<div class="address-alt">${model.location.addressalt}</div>
				<% } %>
				<div class="btns">
					<% if (model.location.accessibility || model.location.accessibilerestroom) { %>
						<button data-campusmap='panels:details,details-accessibility+' title="Toggle Accessibility Details">Accessibility</button> 
					<% } %>
					
					<button data-campusmap='panels:details,select-destination+' title="Toggle Directions Details">Directions</button> 
					<!--<button data-campusmap='panels:details,sharelink+' title="Toggle Share a Link Details">Share a Link</button>-->
				</div>
			</div>
		</div>
		<aside class="<% if (!model.location.thumbnail) { %>no-thumb<% } %>">
			<% if (model.location.thumbnail) { %>
				<img class="thumb" src="./app/images/thumbs/${model.location.thumbnail}" />
			<% } else { %>
				
				<p class="title"><strong>Visitor Parking</strong></p>
				<p><a class="link external" href="#" data-campusmap="panels:details|details:p-dowling-garage|center:42.408843,-71.118311">Dowling Parking Garage</a></p>
				<p><a target="_blank" class="link external" href="http://publicsafety.tufts.edu/adminsvc/parking-services/visitor-parking-58/">More Visitor / Guest Parking Options</a></p>
				
			<% } %>
		</aside>
	</div>
	<div class="panel-content panel-depts-offices">
		<div class="panel-bd full <% if (model.location.occupants && model.location.occupants.length === 1) { %>single<% } else { %>bare<% } %>">
			<div class="bd spacing ">
				<% if (model.location.occupants && model.location.occupants.length === 1) { 
					var occupant = model.location.occupants[0];
				%>
					<ul class="list">
						<% if (occupant.name) { %> <li><strong>${occupant.name}</strong></li><% } %>
						<% if (occupant.locwithin) { %> <li>${occupant.locwithin}</li><% } %>
						<% if (occupant.phone) { %> <li>${occupant.phone}</li><% } %>
						<% if (occupant.email) { %> <li><a class="link external" href="mailto:${occupant.email}">${occupant.email}</a></li><% } %>
						<% if (occupant.website) { %> <li><a class="link external" target="_blank" href="${occupant.website}">Visit the website &gt;</a></li><% } %>
					</ul>
				<% } else { %>
					<ul class="list striped">
					<% _.each(model.location.occupants, function(occupant, index) { %>
						<li class="item"><button data-index='${index}' data-campusmap='panels:details,depts-offices-info'>${occupant.name}</button></li>
					<% }); %>
					</ul>
				<% } %>
			</div>
		</div>
	</div>
	<div class="panel-content panel-imagery">
		<% if (model.location.imageurl) { %>
			<img class="wide-shot" src="./app/images/wide/${model.location.imageurl}" />
		<% } %>
	</div>
</div>