<div class="panel-bd panel-secondary">
	<div class="bd spacing">
		<label class="subhead">${model.location.name}</label>
		<h3>Directions</h3>
		<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
		<div class='footer'><button class="panel-close" data-campusmap='panels:details'>close</button></div>
	</div>
</div>