<div class="panel-bd panel-secondary bare">
	<div class="bd spacing">
		<h3 class="subhead"><strong>Hint</strong>: Click a map icon multiple times to advance through navbar items.</h3>
		<div class='footer'><button class="btn-close" data-campusmap='panels:details'>x</button></div>
	</div>
</div>