<div class="panel-bd bare">
	<div class="bd spacing">
		<ul class="menu-mobile">

			<li class="item-menu buildings"><button data-campusmap='mode:building|panels:results|filter:tag_exact|query:building|searchboxdisable:true|forceclosepanels:true|primarylabel:All Buildings'>All Buildings</button></li>

			<li class="item-menu commencement"><button data-campusmap='panels:parking|searchboxdisable:true|forceclosepanels:true|mode:parking|primarylabel:Parking'>Parking</button></li>

			<li class="item-menu accessibility"><button data-campusmap='mode:accessibility|panels:accessibility|searchboxdisable:true|forceclosepanels:true|primarylabel:Accessibility'>Accessibility</button></li>

			<li class="item-menu parking-visitor"><button data-campusmap='mode:commencement|panels:commencement,commencement-more|searchboxdisable:true|forceclosepanels:true|primarylabel:Commencement'>Commencement</button></li>

		</ul>
		<div class='footer'><button class="btn-close" data-campusmap='panels:|details:'>close</button></div>
	</div>
</div>