<div class="panel-bd bare">
	<div class="bd spacing">
		<ul class="menu-parking">
			<li class="item-menu parking-visitor"><button data-campusmap='panels:results|filter:tag_exact|query:parking-visitor|primarylabel:Visitor Parking|searchboxdisable:true|forceclosepanels:true|mode:parking'>Visitor Parking</button></li>

			<li class="item-menu parking-faculty-staff"><button data-campusmap='panels:results|filter:tag_exact|query:parking-faculty-staff|primarylabel:Faculty/Staff|searchboxdisable:true|forceclosepanels:true|mode:parking'>Faculty/Staff</button></li>

			<% if (model.campus.campusid === 'medford') { %>
			<li class="item-menu parking-resident"><button data-campusmap='panels:results|filter:tag_exact|query:parking-resident|primarylabel:Resident|searchboxdisable:true|forceclosepanels:true|mode:parking'>Resident</button></li>

			<li class="item-menu parking-commuter"><button data-campusmap='panels:results|filter:tag_exact|query:parking-commuter|primarylabel:Commuter Student|searchboxdisable:true|forceclosepanels:true|mode:parking'>Commuter Student</button></li>

			<li class="item-menu parking-no-sticker"><button data-campusmap='panels:results|filter:tag_exact|query:parking-no-sticker|primarylabel:No Sticker|searchboxdisable:true|forceclosepanels:true|mode:parking'>No Sticker</button></li>

			<% } else if (model.campus.campusid === 'grafton') { %>

			<li class="item-menu parking-student"><button data-campusmap='panels:results|filter:tag_exact|query:parking-student|primarylabel:Student|searchboxdisable:true|forceclosepanels:true|mode:parking'>Student</button></li>

			<% } %>

		</ul>
		<div class='footer'><button class="btn-close" data-campusmap='panels:|details:|searchboxdisable:false|primarylabel:null'>close</button></div>
	</div>
</div>