<div class="panel-bd">
	<div class="bd spacing">
		<p>	
			<button class="tag" href="#" data-campusmap='panels:results|filter:tag_exact|query:athletics|searchboxdisable:true|forceclosepanels:true|primarylabel:Athletics'>athletics</button>

			<button class="tag" href="#" data-campusmap='panels:results|filter:tag_exact|query:atm|searchboxdisable:true|forceclosepanels:true|primarylabel:Atm'>atm</button>

			<button class="tag" href="#" data-campusmap='panels:results|filter:tag_exact|query:coffee|searchboxdisable:true|forceclosepanels:true|primarylabel:Coffee'>coffee</button>

			<button class="tag" href="#" data-campusmap='panels:results|filter:tag_exact|query:dining|searchboxdisable:true|forceclosepanels:true|primarylabel:Dining'>dining</button>

			<button class="tag" href="#" data-campusmap='panels:results|filter:tag_exact|query:engineering|searchboxdisable:true|forceclosepanels:true|primarylabel:Engineering'>engineering</button>

			<button class="tag" href="#" data-campusmap='panels:results|filter:tag_exact|query:field|searchboxdisable:true|forceclosepanels:true|primarylabel:Field'>field</button>

			<button class="tag" href="#" data-campusmap='panels:results|filter:tag_exact|query:fletcher|searchboxdisable:true|forceclosepanels:true|primarylabel:Fletcher'>fletcher</button>
			
			<button class="tag" href="#" data-campusmap='panels:results|filter:tag_exact|query:library|searchboxdisable:true|forceclosepanels:true|primarylabel:Library'>library</button>
			
			<button class="tag" href="#" data-campusmap='panels:results|filter:tag_exact|query:greek|searchboxdisable:true|forceclosepanels:true|primarylabel:Greek'>greek</button>

			<button class="tag" href="#" data-campusmap='panels:results|filter:tag_exact|query:residence|searchboxdisable:true|forceclosepanels:true|primarylabel:Residence'>residence</button>

			
		</p>
		<div class='footer'><button class="btn-close" data-campusmap='panels:|details:'>close</button></div>
	</div>
</div>