<div class="panel-bd">
	<div class="bd spacing">
		<p>
			<a href="#" data-campusmap='backto:back to tagsa|panels:results|filter:tags|query:dorm|searchboxdisable:true|forceclosepanels:true|primarylabel:Dorm'>dorm</a>
			| 
			<a href="#" data-campusmap='backto:back to tagsb|panels:results|filter:tags|query:dining|searchboxdisable:true|forceclosepanels:true|primarylabel:Dining'>dining</a>
		</p>
		<div class='footer'><button class="btn-close" data-campusmap='panels:|details:'>close</button></div>
	</div>
</div>