<div class="panel-bd">
	<div class="bd spacing">
		<h3 class="subhead">Popular Tags</h3>
		<p>tag1 tag2 tag3</p>
		<div class='footer'><button class="btn-close" data-campusmap='panels:|details:'>close</button></div>
	</div>
</div>