<div class="panel-bd">
	<div class="bd spacing">
		<h3 class="subhead sr-only">Printable Maps</h3>
		<% if (model.campus.campusid === 'medford') { %>
		<ul class="list-pdfs medford">
			<li id="medford-campus">
				<a target="_blank" href="/docs/Tufts_Medford-Som_Map.pdf">Campus Map</a>
				<a target="_blank" href="/docs/Tufts_Medford-Som_Map.pdf"><img src="./app/images/pdfs/pdf_campusmap_medford_150.png" /></a>
			</li>
			<li id="medford-parking">
				<a target="_blank" href="http://publicsafety.tufts.edu/adminsvc/files/Medford-Parking-Map2013FINAL-2.pdf">Parking</a>
				<a target="_blank" href="http://publicsafety.tufts.edu/adminsvc/files/Medford-Parking-Map2013FINAL-2.pdf"><img src="./app/images/pdfs/pdf_parking_medford_150.png" /></a>
			</li>
			<li id="medford-directions">
				<a target="_blank" href="/docs/Tufts_Medford-Som_Map_Dir.pdf">Driving Directions</a>
				<a target="_blank" href="/docs/Tufts_Medford-Som_Map_Dir.pdf"><img src="./app/images/pdfs/pdf_directions_medford_150.png" /></a>
			</li>
			<li id="medford-accessibility">
				<a target="_blank" href="/docs/medford-accessibilitymap.pdf">Accessibility</a>
				<a target="_blank" href="/docs/medford-accessibilitymap.pdf"><img src="./app/images/pdfs/pdf_accessibility_medford_150.png" /></a>
			</li>
			<li id="medford-commencement">
				<a target="_blank" href="http://commencement.tufts.edu/wp-content/uploads/ceremony-map2.pdf">Commencement</a>
				<a target="_blank" href="http://commencement.tufts.edu/wp-content/uploads/ceremony-map2.pdf"><img src="./app/images/pdfs/pdf_commencement_medford_150.png" /></a>
			</li>
		</ul>
		<% } else if (model.campus.campusid === 'grafton') { %>
		<div class="grafton clearfix">
			<p class="title"><a class="link external" target="_blank" href="http://www.tufts.edu/vet/tcsvm_campus_map.pdf">Download a PDF of the Grafton Campus</a></p>
			<a class="thumb" target="_blank" href="http://www.tufts.edu/vet/tcsvm_campus_map.pdf"><img src="./app/images/pdfs/pdf_campusmap_grafton_150.png" /></a>
			<p class="bd">The Cummings School of Veterinary Medicine is located along Route 30 (Westboro Road) in North Grafton Massachusetts.</p>

			<p class="bd">For more information on general directions to the campus visit the <a class="link external" target="_blank" href="http://vet.tufts.edu/directions.html">website</a>.</p>
		</div>
		<% } else if (model.campus.campusid === 'boston') { %>
		<div class="boston clearfix">
			<p class="title"><a class="link external" target="_blank" href="http://campusmaps.tufts.edu/docs/boston-accessibilitymap.pdf">Download a PDF of the Tufts Boston Campus</a></p>
			<a class="thumb" target="_blank" href="http://campusmaps.tufts.edu/docs/boston-accessibilitymap.pdf"><img src="./app/images/pdfs/pdf_campusmap_boston2_150.png" /></a>
			<p class="bd">Tufts Boston campus includes the School of Medicine, the School of Dental Medicine, Sackler School of Graduate Biomedical Sciences, Jean Mayer USDA Human Nutrition Research Center on Aging, and The Gerald J. and Dorothy R. Friedman School of Nutrition Science and Policy. </p>
		</div>
		<% } %>
		<div class='footer'><button class="btn-close" data-campusmap='panels:|details:|searchboxdisable:false|primarylabel:null'>close</button></div>
	</div>
</div>