<div class="panel-bd">
	<div class="bd spacing">
		<h3 class="subhead sr-only">Printable Maps</h3>
		<ul class="list-pdfs">
			<li>
				<a href="#">Campus Map</a>
				<a href="#"><img src="./app/images/pdfs/pdf_campusmap_medford_150.png" /></a>
			</li>
			<li>
				<a href="#">Parking</a>
				<a href="#"><img src="./app/images/pdfs/pdf_parking_medford_150.png" /></a>
			</li>
			<li>
				<a href="#">Driving Directions</a>
				<a href="#"><img src="./app/images/pdfs/pdf_directions_medford_150.png" /></a>
			</li>
			<li>
				<a href="#">Accessibility</a>
				<a href="#"><img src="./app/images/pdfs/pdf_accessibility_medford_150.png" /></a>
			</li>
			<li>
				<a href="#">Commencement</a>
				<a href="#"><img src="./app/images/pdfs/pdf_commencement_medford_150.png" /></a>
			</li>
		</ul>
		<div class='footer'><button class="btn-close" data-campusmap='panels:|details:'>close</button></div>
	</div>
</div>