<div class="panel-bd panel-secondary">
	<div class="bd spacing">
		<h3 class="subhead">Select a Destination</h3>
		<p class="bare"><strong class="heavy">Where to?</strong></p>
		<div class="directions-options">
			<button class="btn-large" data-campusmap='panels:details,directions'><label>${model.location.name}</label></button>
			<button class="btn-large" data-campusmap='panels:details,directions'><label>Dowling Parking Garage</label></button>
		</div>
		 
		<div class='footer'>
			<a class="link external" target="_blank" href="http://publicsafety.tufts.edu/adminsvc/parking-services/visitor-parking-58/">More on Visitor Parking</a>
			<span class="divider">|</span>
			<a class="link external" target="_blank" href="#">MBTA.com</a>
			<span class="divider">|</span> 
			<a class="link external" target="_blank" href="#">The Joey Shuttle</a>
			<button class="btn-close" data-campusmap='panels:details'>close</button>
		</div>
	</div>
</div>