<div class="panel-bd">
	<div class="bd spacing">
		<h3 class="subhead">Settings</h3>
		<p>settings settings settings</p>
		<div class='footer'><button class="btn-close" data-campusmap='panels:|details:'>close</button></div>
	</div>
</div>