<div class="panel-bd">
	<div class="bd spacing">
		<h3 class="sr-only subhead">Settings</h3>
		<div class="largelabels">
			<label class="label-on-off">Large Map Labels:</label>
			<button class="btn btn-off btn-large-label" data-campusmap="large-labels:false">off</button>
			<button class="btn btn-on btn-large-label" data-campusmap="large-labels:true">on</button>
		</div>
		<div class="highcontrastlabels">
			<label class="label-on-off">High-contrast Map Labels:</label>
			<button class="btn btn-off btn-high-contrast" data-campusmap="high-contrast-labels:false">off</button>
			<button class="btn btn-on btn-high-contrast" data-campusmap="high-contrast-labels:true">on</button>
		</div>
		<div class='footer'><button class="btn-close" data-campusmap='panels:|details:'>close</button></div>
	</div>
</div>
